<mat-toolbar>
    <button mat-icon-button class="icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My Great App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

<mat-drawer #drawer class="left-sidenav" mode="side">
    <mat-nav-list>

        <a mat-list-item [routerLink]="'/accounts'"> Accounts </a>
        <a mat-list-item [routerLink]="'/create-account'"> Create Account </a>
        <a mat-list-item [routerLink]="'/contacts'"> Contacts </a>
        <a mat-list-item [routerLink]="'/create-contact'"> Create Contact </a>
        <a mat-list-item [routerLink]="'/activities'"> Activities </a>
        <a mat-list-item [routerLink]="'/create-activity'"> Create Activity </a>
        <a mat-list-item (click)="drawer.toggle()" href="" mat-list-item>Close</a>
  
      </mat-nav-list>
  <p>Auto-resizing sidenav</p>
  <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
  <button (click)="showFiller = !showFiller" mat-raised-button>
    Toggle extra text
  </button>
</mat-drawer>
